<h1>欢迎来到OMIGA语言课程</h1>
<form method="POST">
    <input type="submit" name="submit_button" value="第一课：OMIGA语言的简介与导入">
    <br>
    <input type="submit" name="submit_button" value="第二课：OMIGA语言的基本词语与语句">
    <br>
    <input type="submit" name="submit_button" value="第三课：teriyoga! ditaiyosu! 你们好！初次见面！">
    <br>
    <input type="submit" name="submit_button" value="第四课：dv ing sihoma tsu loyode 班级中的规则">
    <br>
    <input type="submit" name="submit_button" value="第五课：noku, misu, kongmi 没有，一些，很多">
</form>